<h1>Lịch sử tiêm chủng</h1>
<div class="container">
  <div class="list-group">
    {{#each historyList}}
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Mã đơn tiêm: {{this._id}}</h5>
      <small>Đã đăng ký</small>
    </div>
    <p class="mb-1">Người tiêm: Nguyễn Đức Hiếu</p>
    <small>Ngày tạo: 2022/07/05 22:22</small>
  </a>
  {{/each}}
</div>
</div>

