<div class="container-fluid">
    <div class="card card0 border-0">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4">
                {{#noticeLogin}}
                <h1 class="text-center text-danger">Bạn cần login để xem thông tin tài khoản!</h1>
                {{/noticeLogin}}
                {{#notice}}
                <h1 class="text-center text-danger">{{this}}</h1>
                {{/notice}}
                <h2 class="text-center">ĐĂNG NHẬP</h2>
                {{#wrongPassword}}
                <b>The username and password do not match</b>
                {{/wrongPassword}}
                <form method="post" id="form-2" action="/auth/login">
                    <div class="row mb-2">
                        <div class="col-3 p-0">
                            <label>Email:</label>
                        </div>
                        <div class="col-9 p-0">
                            <input class="w-100 border border-info" type="text" name="email" id="email" placeholder="kp6630924@gmail.com" />
                            <span class="form-message"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 p-0">
                            <label>Password:</label>
                        </div>
                        <div class="col-9 p-0">
                            <input class="w-100 border border-info" type="password" name="password" id="password" placeholder="kp" />
                            <span class="form-message"></span>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-end">
                        <input type="submit" class="btn btn-success my-3" value="Đăng Nhập" />
                    </div>
                    <div class="row text-center">
                        <p class="mt-4">Bạn chưa có tài khoản? <a href="/customer/register">Đăng ký</a></p>
                    </div>
                    <div class="row text-center">
                        <p class="mt-2">Bạn chưa nhận được mã? <a href="/customer/sendcode">Gửi lại mã</a></p>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>