<div class="container">
    <div class="d-flex justify-content-center">
        <div>
            <h3 class="text-center">Gửi Mã Code</h3>
            <div>
                <div>Nhập email:</div>
                <input type="input" class="form-control" id="emailSendMail" name="email">
                <br>
                <input class="btn btn-success" id="sendMailCode" value="Gửi Mả">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("sendMailCode").click(function () {
            const email = document.getElementById('emailSendMail').value;
            $.ajax({
                //url: "/login/check",
                type: "POST",
                data: email,
                success: function (data) {
                    alert(data);
                },
                error: function (err) {
                    console.log(err);
                    alert(err);
                }
            });
        });
    });
</script>